This is the inner component:
<br><br>
Current URL: {{url}}
<br><br>
Current ID value: {{index}}
<button [routerLink]="['/inner', index+1]">Go to next page</button>
<button (click)="goBack()">Go back</button>